* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

img {
    height: 2.5rem;
    width: 2.5rem;
    justify-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
    height: 5vh;
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

button {
    height: 2rem;
    width: 5rem;
    padding: .5rem;
    border-radius: 10px;
}

.name {
    justify-self: start;
}

.bottom > .name {
    font-size: 2rem;
}

.search-bar {
    height: 2rem;
    width: 100%;
    border-radius: 20px; 
    text-align: center;
}

.sidebar {
    display: grid;
    grid-row: 1/4;
    gap: 1rem;
    align-content: start;
    padding: 15px;
}

.sidebar > div > div > img{
    vertical-align: middle;
    margin: 5px;
    height: 2rem;
    filter: invert(100%);
}

.sidebar > div > div > span {
    font-size: 1.5rem;
    margin-left: 10px;
}
 
.main-view {
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project {
    grid-row: 1/3;
    margin-left: 10px;
}

.header-cat {
    height: 5vh;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    top: 20px;
    left: 15px;
}

.card-wrap {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-wrap > .card {
    word-wrap: break-word;
    position: relative;
    border-radius: 10px;
    width: 450px;
    margin-left: 10px;
}

.card > .card-head {
    font-size: calc( 1vw + .9vmin );
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 600;
}

p {
    padding-left: 15px;
    padding-top: .3rem;
    padding-right: .3rem;
    font-size: calc(.5vw + .8vmin);
}

.card > div {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card > div > img {
    padding: .5rem;
    margin-right: 5px;
}

.announcements {
    display: grid;
    align-content: start;
    margin-left: 5px;
    margin-right: 5px;
}

.announcement-list {
    height: 38vh;
    border-radius: 10px;
    padding: 10px;
}

.announcement-list > div > div {
    font-size: calc( 1vw + .7vmin );
    word-wrap: break-word;
    padding-top: 5px;
    padding-left: 15px;
    font-weight: 600;   
}

.announcement-list > div > p {
    line-height: 18px;
    font-size: calc(.5vw + 1.1vmin);
    padding-bottom: 2px;
}

.trending {
    display: grid;
    align-content: start;
    margin-top: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.trending-list {
    height: 38vh;
    border-radius: 10px;
    padding: 10px;
}

.trending-list > div{
    font-size: 1.2rem;
    line-height: 3rem;
    word-wrap: break-word;
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 600; 
}

.trending-list > div > span {
    margin-left: 10px;
}
